
  @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    display: block;
    background-color: rgb(17, 16, 14);
    

}
/*navbar/inicio*/

.navbar{
  
  width: 100%;
  
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #000;

}

.logo a{
    color: rgb(11, 170, 101);
    font-size: 35px;
    font-weight: 500;
    margin-left: 30px;
    
}
.menu li{
    list-style: none;
    display: inline-block;
    margin-right: 70px;
    
}
.menu li a{
    color: rgb(235, 225, 220);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    list-style: none;
}

.menu li a:hover{
    color:  rgb(11, 210, 194);
}

.logo{
    text-transform: capitalize;
    font-size: 24px;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 1px;
}

.produtos{
    
    text-align: center;
    display:flex;
    margin-top: 6%;
    
    justify-content: space-around;
    
}
.container3 img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.container2 img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.container1 img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
.container12 img{
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}
p{
  font-family: 'Ubuntu', sans-serif;
  color: antiquewhite;
}

button {
  border-radius: 111px;
  background-color: #13b53e;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 155px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #a07a2f; /* Green */
  color: rgb(193, 27, 27);
}
 /* Adicione a seguinte regra para tornar a fonte responsiva */


/* Em ./css/produtos.css */

/* Estilos gerais para telas maiores */
/* ... */

/* Adicione uma media query para telas menores */
@media (max-width: 768px) {
  /* Estilos específicos para telas menores */
  body {
      font-size: 14px; /* Tamanho de fonte menor para telas menores, se necessário */
  }

  .Titulo {
      margin-left: 10%; /* Ajuste a margem esquerda para telas menores */
  }

  .produtos {
      flex-wrap: wrap; /* Faça os itens do grid quebrarem para a próxima linha */
      justify-content: center; /* Centralize os itens */
  }

 
  
}

